@import '../../scss/_color';

.blog-content-wrapper {
  margin-top: 30px;
  display: flex;
  .blog-main {
    width: 80%;
    @media (max-width: 841px) {
      width: 100%;
    }
    text-wrap: wrap;

    .markdown-content {
      white-space: pre-wrap; /* Preserve white spaces and allow text wrapping */
      word-break: break-word; /* Break words to prevent overflow */
    }
  }
  padding: 0 30px;

  .title-list {
    background-color: $main-color;
    height: fit-content;
    width: 20%;
    padding: 2%;
    color: white;
    position: sticky;
    top: 20px;
    border-radius: 40px;
    li {
      list-style: none;
      font-size: 15px;
      margin: 5px 0;

      a {
        text-wrap: wrap;
        color: white;
        text-decoration: none;
      }
    }
  }

  .title-list-button {
    background-color: $main-color;
    height: fit-content;
    width: 20%;
    padding: 2%;
    color: white;
    position: sticky;
    z-index: 100;
    top: 20px;
    border-radius: 40px;
    display: none;
  }

  @media (max-width: 841px) {
    .title-list {
      display: none;
    }

    .title-list-button {
      display: block;
    }
  }
}
