@import '../../scss/_color';

.blog-content-wrapper {
  margin: 30px 0;
  display: flex;
  .blog-main {
    width: 80%;
    @media (max-width: 841px) {
      width: 100%;
    }
    text-wrap: wrap;

    .taglist {
      display: flex; // This will lay out the children (tags) in a row
      flex-wrap: nowrap; // Prevents the tags from wrapping to a new line
      overflow-x: auto; // Allows for horizontal scrolling when content overflows
      // You may want to add padding and ensure the scrollbar doesn't cover the content
      padding-bottom: 10px; // Adjust as necessary to avoid content being obscured by scrollbar
      // Styles to hide the scrollbar for different browsers
      &::-webkit-scrollbar {
        display: none; // Hide scrollbar for Chrome, Safari, and Opera
      }

      -ms-overflow-style: none; // Hide scrollbar for IE and Edge
      scrollbar-width: none; // Hide scrollbar for Firefox
      .tag {
        margin: 0 20px;
      }
    }

    .markdown-content {
      white-space: pre-wrap; /* Preserve white spaces and allow text wrapping */
      word-break: break-word; /* Break words to prevent overflow */
      .markdown-content h1 {
        text-decoration: underline;
      }
    }
  }
  padding: 0 30px;

  .title-list {
    background-color: $main-color;
    height: fit-content;
    width: 20%;
    padding: 2%;
    color: white;
    position: sticky;
    top: 20px;
    border-radius: 40px;
    li {
      list-style: none;
      font-size: 15px;
      margin: 5px 0;

      a {
        text-wrap: wrap;
        color: white;
        text-decoration: none;
      }
    }
  }

  .title-list-button {
    background-color: $main-color;
    height: fit-content;
    width: 20%;
    padding: 2%;
    color: white;
    position: sticky;
    z-index: 100;
    top: 20px;
    border-radius: 40px;
    display: none;
  }

  @media (max-width: 841px) {
    .title-list {
      display: none;
    }

    .title-list-button {
      display: block;
    }
  }
}
