.d-flex {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: white;
}

.titleButton {
  display: none;
}

.logo-big {
  display: block;
  height: 20px;
  margin: auto 0;
}

.logo-small {
  display: none;
}

@media (max-width: 841px) {
  .titleButton {
    display: block;
    margin: auto 10px;
  }

  .logo-big {
    display: none;
  }

  .logo-small {
    display: block;
    height: 30px;
    margin: auto 0;
  }
}
