.d-flex {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: white;
}

.titleButton {
  display: none;
}

@media (max-width: 841px) {
  .titleButton {
    display: block;
    margin: auto 10px;
  }
}
